@model Presentacion.Models.UsuariosModel

@{
    ViewData["Title"] = "CrearUsuario";
}

<script>
    function onlyOne(checkbox) {
        var checkboxes = document.getElementsByName('check')
        checkboxes.forEach((item) => {
            if (item !== checkbox) item.checked = false
        })
    }
</script>

<h1>Crear Usuario</h1>

<h4>Ingrese los datos:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Guardar" asp-controller="Usuario" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ID_USUARIO" class="control-label"></label>
                <input asp-for="ID_USUARIO" class="form-control" />
                <span asp-validation-for="ID_USUARIO" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EMAIL" class="control-label"></label>
                <input asp-for="EMAIL" class="form-control" />
                <span asp-validation-for="EMAIL" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PASS" class="control-label"></label>
                <input asp-for="PASS" class="form-control" />
                <span asp-validation-for="PASS" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NOMBRE" class="control-label"></label>
                <input asp-for="NOMBRE" class="form-control" />
                <span asp-validation-for="NOMBRE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="APELLIDOS" class="control-label"></label>
                <input asp-for="APELLIDOS" class="form-control" />
                <span asp-validation-for="APELLIDOS" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TIPO" class="control-label"></label>
                <select asp-for="TIPO">
                    <option selected="selected" value="ADMIN">ADMIN</option>
                    <option value="USUARIO">USUARIO</option>
                </select>
                <span asp-validation-for="TIPO" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
