@model Presentacion.Models.PerfilModel

@{
    ViewData["Title"] = "EditaPerfil";
}

<h1>Editar Perfil</h1>

<h4>Ingrese los datos:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Modificar" asp-controller="Perfil" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CodigoPerfil" class="control-label"></label>
                <input asp-for="CodigoPerfil" readonly="readonly" class="form-control" />
                <span asp-validation-for="CodigoPerfil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombrePerfil" class="control-label"></label>
                <input asp-for="NombrePerfil" class="form-control" />
                <span asp-validation-for="NombrePerfil" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado">
                    <option selected="selected" value="True">True</option>
                    <option value="False">False</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Modificar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
