<h1 class="text-center mt-3">NO POSEE LOS PERMISOS PARA ACCEDER A ESTA PÁGINA</h1>
<br />
<h1 class="text-center mt-3">FAVOR CONTACTAR CON EL ADMINISTRADOR</h1>
<br />
<h3 class="text-center"><a asp-controller="Home" asp-action="Index">IR AL INICIO</a></h3>