@model Presentacion.Models.BusModel


@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminación Bus</h1>

<h3>¿Seguro que desea eliminar este registro?</h3>

<div>
    <h4>BusModel</h4>
    <hr />

    <form asp-action="Eliminar_Bus" asp-controller="Bus" method="post">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PlacaUnidad" class="control-label"></label>
            <input asp-for="PlacaUnidad" readonly="readonly" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="NumeroUnidad" class="control-label"></label>
            <input asp-for="NumeroUnidad" readonly="readonly" class="form-control" />
            <span asp-validation-for="NumeroUnidad" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EstadoUnidad" class="control-label"></label>
            <input asp-for="EstadoUnidad" readonly="readonly" class="form-control" />
            <span asp-validation-for="EstadoUnidad" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>

    </form>
    <div>
        <br />
        <a asp-action="Index">Volver a la lista</a>
    </div>
</div>